html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.label > div {
  font-family: Helvetica, Arial;
  position: absolute;
  background: #00000080;
  color: white;
  padding: 15px;
  white-space: nowrap;
  border-radius: 30px;
  user-select: none;
}